<!doctype html>
<html class="no-js" lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%- eventDetail.eventName %> | Plinth'17</title>
        <script src="https://use.fontawesome.com/8720ae4a19.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.4/foundation.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/common.css">
        <link rel="stylesheet" href="css/robotics.css" />
    </head>
    <body>

        <% include header %>
        <%if (!isLoggedIn) { %>
                <% include reg-form %>
        <% } %>


        <div class="content">
            <div class="row">
                <div class="small-10 small-centered text-center columns">
                    <h4><%- eventDetail.clubName %></h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="small-10 small-centered columns">
                <div class="row">
<!--                    gray circle-->
                    <div class="small-7 small-push-4 medium-5 large-4 large-push-3 columns">
                        <div class="dp-image">

                        </div>
                    </div>
                    <div class="small-10 medium-5 large-5 large-pull-1 columns">
                        <div class="details">
                            <span class="title-workshop"><%- eventDetail.eventName %></span>
                            <br />
                            <br />
                            <span>Date : <%- eventDetail.eventDate %></span>
                            <br />
                            <span>Venue : <%- eventDetail.eventVenue %></span>
                            <br />
                            <br />
                            <ul>
                                <li><a class="reg-btn" href="#" data-open="regform">Register ></a></li>
                                <li><a href="#">Make Payment ></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<!--        registeration form modal-->


          <div class="card">
              <div class="row">
                  <div class="small-4 small-offset-1 columns">
                      <div class="card-img">
                      </div>
                  </div>
                  <div class="small-6 columns end">
                      <div class="prize">
                      <span>Prize Worth</span>
                      <br />
                      <span><%- eventDetail.prizeWorth %></span>
                      </div>
                  </div>
              </div>
          </div>



        <div class="row">
            <div class="small-10 small-centered columns">
                <div class="tab-wrapper">
                    <ul class="tab">
                        <li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'Synopsis')" id="defaultOpen">Synopsis</a></li>
                        <li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'EventDesc')">Event Description</a></li>
                        <li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'Rules')">Rules</a></li>
                        <li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'Judges')">Judges</a></li>
                        <li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'Mentors')">Mentors</a></li>
                        <li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'Sponsors')">Sponsors</a></li>
                    </ul>

                    <ul class="drop-tab">
                        <a><i class="fa fa-chevron-down fa-lg drop-toggle" aria-hidden="true"></i></a>
                        <div class="drop-content-wrapper">
                          <ul class="drop-content">
                          <li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'Synopsis')" id="defaultOpen">Synopsis</a></li>
                          <li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'EventDesc')">Event Description</a></li>
                          <li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'Rules')">Rules</a></li>
                          <li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'Judges')">Judges</a></li>
                          <li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'Mentors')">Mentors</a></li>
                          <li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'Sponsors')">Sponsors</a></li>
                          </ul>
                        </div>
                    </ul>

                    <div class="big-wrapper">
                        <div class="wrapper">
                    <div id="Synopsis" class="tabcontent">
                        <div class="row content-head">
                            <div class="small-10 small-centered text-center columns">
                                <span>Synopsis</span>
                            </div>
                        </div>
                        <div class="row contentdesc">
                            <div class="small-10 small-centered columns">
                                <%- eventDetail.synopsis %>
                            </div>
                        </div>
                    </div>
                    <div id="EventDesc" class="tabcontent">
                        <div class="row content-head">
                            <div class="small-10 small-centered text-center columns">
                                <span>Event Description</span>
                            </div>
                        </div>
                        <div class="row contentdesc">
                            <div class="small-10 small-centered columns">
                                <%- eventDetail.eventDescription %>
                            </div>
                        </div>
                    </div>

                    <div id="Rules" class="tabcontent">
                        <div class="row content-head">
                            <div class="small-10 small-centered text-center columns">
                                <span>Rules</span>
                            </div>
                        </div>
                        <div class="row contentdesc">
                            <div class="small-10 small-centered columns">
                                <%- eventDetail.rules %>
                            </div>
                        </div>
                    </div>

                    <div id="Judges" class="tabcontent">
                        <div class="row content-head">
                            <div class="small-10 small-centered text-center columns">
                                <span>Judges</span>
                            </div>
                        </div>
                        <div class="row contentdesc">
                            <div class="small-10 small-centered columns">
                                <%- eventDetail.judges %>
                            </div>
                        </div>
                    </div>

                    <div id="Mentors" class="tabcontent">
                        <div class="row content-head">
                            <div class="small-10 small-centered text-center columns">
                                <span>Mentors</span>
                            </div>
                        </div>
                        <div class="row contentdesc">
                            <div class="small-10 small-centered columns">
                                <%- eventDetail.mentors %>
                            </div>
                        </div>
                    </div>

                    <div id="Sponsors" class="tabcontent">
                        <div class="row content-head">
                            <div class="small-10 small-centered text-center columns">
                                <span>Sponsors</span>
                            </div>
                        </div>
                        <div class="row contentdesc">
                            <div class="small-10 small-centered columns">
                                <%- eventDetail.sponsors %>
                            </div>
                        </div>
                    </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <% include footer %>

        <script src="../js/tab.js"></script>
        <script src="../js/reg-form.js"></script>
        <script>
            $.push("/events/registered/add", {"eventName" : "<%- eventDetail.eventName %>", "clubName" : "<%- eventDetail.clubName %>" }){
                if(data.response){
                notifDisplay(1);
                }else{
                notifDisplay(0);
                   }
            }
        
            $.push("/events/unregistered/add", {"eventName" : "<%- eventDetail.eventName %>", "clubName" : "<%- eventDetail.clubName %>, getUserDetails(), " }){
                if(data.response){
                notifDisplay(1);
                }else{
                notifDisplay(0);
                   }
            }
            
            function eventRegister(link, registration){
                userDetails = getUserDetails();
                //    console.log(userDetails);
                if(userDetails.name === "" || userDetails.gender === undefined || userDetails.phoneNumber === "" || userDetails.email === "" || userDetails.college === "" || userDetails.year === undefined || userDetails.city === "" || userDetails.accomodation === undefined)
                    return;
                
                $.post(link, registration)
                    .done(function( data ) {
                    if(data.response){
//                        $('.close-button').trigger('click');
                        notifDisplay(1);
//                        location.reload();
                    }else{
                        notifDisplay(0);
                    }
                });
            }
            
            var registration = {
                "clubName" : "<%- eventDetail.clubName %>",
                "eventName" : "<%- eventDetail.eventName %>",
            }
        </script>

    </body>
</html>
