<!doctype html>
<html class="no-js" lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Teams | Plinth'17</title>
        <script src="https://use.fontawesome.com/8720ae4a19.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.4/foundation.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/common.css">
        <link rel="stylesheet" href="css/robotics.css" />
    </head>
    <body>
        <% include header %>

        <style>
            .partial-card{
                border : 1px solid grey;
                padding: 10px 5px;
            }
        </style>

        <section>
            <% for(var i=0; i<results.length; i++) { %>
                <div class="text-center"><b>Team <%= i %></b></div>

                <% for(var j=0; j<results[i].team.length; j++) { %>
                <div class="row">
                    <div class="column small-12 partial-card medium-4">
                        name : <%= results[i].team[j].name %>
                    </div>
                    <div class="column small-12 partial-card medium-4">
                        phone : <%= results[i].team[j].phoneNumber %>
                    </div>
                    <div class="column small-12 partial-card medium-4">
                        email : <%= results[i].team[j].email %>
                    </div>
                    <div class="column small-12 partial-card medium-4">
                        college : <%= results[i].team[j].college %>
                    </div>
                    <div class="column small-12 partial-card medium-2">
                        representativeContact : <%= results[i].team[j].year %>
                    </div>
                    <div class="column small-12 partial-card medium-3">
                        city : <%= results[i].team[j].city %>
                    </div>
                    <div class="column small-12 partial-card medium-3">
                        accommodation : <%= results[i].team[j].accommodation %>
                    </div>
                </div>
                <br>
                <% } %>
            <% } %>
        </section>


        <% include footer %>

    </body>
</html>
